body {
    background-image: url(image/wood.jpg);
	font-family: "Helvetica Neue", sans-serif;
}

header {
    width: 700px;
    margin-top: 0;
}

#banner {
	background-color: rgba(255, 255, 255, 1);
	height: 76px;
	padding: 30px 70px 30px 70px;
}

#banner h1 {
	float: left;
	margin: 0;
}

nav {
	float: right;
	position: relative;
	top: 30px;
}

ul {
	margin: 0;
}

nav ul li {
	display: inline-block;
	width: 100px;
}

nav ul li a {
	color:black;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}