body {
    background-image: url(image/Café-02.jpg);
	font-family: "Ubuntu", sans-serif;
    margin: 0;
}

header {
    width: 1500px;
    height: 100px;
    margin: 0 auto;
	background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}

header div#logo-image {
    position: relative;
    left: 150px;
    top: 15px;
}

nav ul {
    position: relative;
    left: 380px;
    bottom: 90px;
	width: 100%;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul button#button {
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 40px;
}

nav ul li a {
	color:black;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
    padding: 2px 70px;
    display: inline-block; 
}

section div#corpo-inicial div img {
    width: 1500px;
    height: 700px;
}

section div#corpo-inicial div#image {
    position: relative;
    margin: 0 auto;
    left: 44px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}

div#info {
    position: relative;
    bottom: 450px;
    left: 100px;
}

div#info h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    font-weight: bold;
}

div#info p {
    font-size: 30px;
    font-weight: bold;
}

/* Modal */

#modal {
    background: #11108c;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transition: 400ms;
}

#modal.addScroll {
    overflow: auto;
}

#modal .content {
    margin-top: 5%;
    /*margin-top: 128px;*/
    color: white;
}

#modal .content h1 {
    text-align: center;
    text-transform: uppercase;
}

#modal form {
    width: 80%;
    max-width: 800px;
    margin: 0 auto 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5) {
    grid-column: span 2;
}

form textarea,
form input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box; /* Quando colocamos o box-sizing: border-box; ele faz com que os 12px dos padding estejam dentro dos 100%                          do width, fazendo com que não ultrapasse a borda e estrapole um item em cima do outro*/
    border-radius: 6px;
    border: 1px solid #ff0000;
    outline: none;
    font-size: 16px;
}

form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a {
    width: 150px;
    height: 40px;
    background-color: rgba(255,255,255, 0.1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    align-self: end;
    transition: 400ms;
    text-decoration: none;
}

form a:hover {
    background-color: #c4c4c4;
    color: #ff0000;
    text-decoration: none;
}

form button {
    background: rgba(255,255,255, 0.1);
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    border: none;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 32px;
    grid-column: 2;
    justify-self: end;
    transition: 400ms;
}

form button:hover {
    background-color: #c4c4c4;
    color: #ff0000;
    text-decoration: none;
}

#modal.hide {
    opacity: 0;
    visibility: hidden;
}